app.hacuba.site {
	@health path /healthz
	handle @health {
		respond "ok" 200
	}

	# Prometheus UI
	handle_path /prometheus/* {
		reverse_proxy prometheus:9090
	}

	# Alertmanager UI
	handle_path /alertmanager/* {
		reverse_proxy alertmanager:9093
	}

	# 其他流量給 app
	reverse_proxy blue:8000
}
